// Colors
$purple: #41326B;


// Fonts
$font-family-sans-serif: "Ubuntu", "Helvetica Neue", Arial, Gotham, "Helvetica", sans-serif;

// Elements
$navbar-default-bg: $purple;
$navbar-default-color: white;
$navbar-default-link-color: white;